<section>
  <div class="titulo">
    <h2 class="text-uppercase text-center">Sobre nós</h2>
    <div class="linha"></div>
  </div><!-- classe que posiciona o título -->
  <div class="container" style="margin-bottom: 120px"><!-- neste containe contém todo o conteudo da area "sobre" -->
    <div class="col-md-7 col-sm-12"><!-- esta <div> contém todos os textos -->
      <p class="text-justify">Criado no início do ano de 2017 por um grupo de amigos profissionais, tem por essência o desejo de trazer soluções tecnológicas inovadoras para o mercado. A Join Dev possui em suas premissas o desejo de ser reconhecido por seus clientes pelo atendimento, relacionamento e serviços prestados de alta qualidade.</p><!-- paragrafo -->
      <h3 class="text-uppercase">Criação de Sites</h3> <!-- título -->
      <p class="text-justify">Criação e Desenvolvimento de sites de alta qualidade, embasamos a construção com técnicas sempre atualizadas, de acordo com o mercado digital atual. Sempre estruturando sites responsivos (Compatíveis com computadores, tablets e smartphones). Sites de fácil utilização, e-commerce (lojas virtuais), blogs, entre outros.</p>
      <h3 class="text-uppercase">Marketing Digital</h3>
      <p class="text-justify">Coloque seu site em primeiro nos buscadores mais famosos da internet. Construção de Campanhas Google, Facebook, Youtube, Instagram, Otimização na Web.</p>
    </div>
    <div class="col-md-1"></div><!-- margem entre o texto e a imagem -->
    <div class="col-md-4 img-sobre"></div><!-- imagem -->
  </div>
</section>
