<section><!-- area "contato" -->
  <div class="titulo">
    <h2 class="text-uppercase text-center">Contato</h2>
    <div class="linha"></div>
  </div><!-- classe que posiciona o título -->
  <div class="container" style="margin-bottom: 120px">
    <p class="text-center text-uppercase"> </p>
    <div class="col-md-3"></div>
    <form class="col-md-6"><!-- formulário -->
      <div class="form-group col-md-6">
        <input type="text" class="form-control text-uppercase" placeholder="Nome">
      </div>
      <div class="form-group col-md-6">
        <input type="email" class="form-control text-uppercase" placeholder="Email">
      </div>
      <div class="form-group col-md-12">
        <textarea class="form-control text-uppercase" rows="6" placeholder="Nos mande uma mensagem ou solicite um orçamento que responderemos em breve."></textarea>
      </div>
      <button type="button" class="botao center-block text-uppercase">Enviar Formulário</button>
    </form>
    <div class="col-md-3"></div>
  </div>
</section>
