<section><!-- area "portifolio" -->

  <div class="titulo">
    <h2 class="text-uppercase text-center">Portifólio</h2>
    <div class="linha"></div>
  </div><!-- classe que posiciona o título -->

  <div id="portifolio" class="carousel slide desktop" data-ride="carousel"><!-- aqui se inicia o slider -->

    <ol class="carousel-indicators"><!-- indicadores de posição -->
      <li data-target="#portifolio" data-slide-to="0" class="active"></li>
      <li data-target="#portifolio" data-slide-to="1" class=""></li>
    </ol>

    <div class="carousel-inner"><!-- esta <div> contém todos os slides -->

      <div class="item active"><!-- este é um slide. PS. o primeiro slide sempre TEM que conter a classe "active"-->
        <div class="container"><!-- dentro deste container tem todo o conteudo sobre o integrante -->
          <div class="col-md-4 text-center card center-block">
            <div class="img-site center-block" style="background: url('images/bananinha.png'); background-size: cover; background-position: center;"></div><!-- imagem do site -->
            <div class="text-center">
              <a href="#" data-toggle="tooltip" data-placement="right" title="Tooltip on right"><p class="text-uppercase">Bananinha Paraibuna</p></a>
              <div class="linha-s"></div>
            </div>
          </div>

          <div class="col-md-4 text-center card center-block">
            <div class="img-site center-block" style="background: url('images/moneto.png'); background-size: cover; background-position: center;"></div><!-- imagem do site -->
            <div class="text-center">
              <a href="#"><p class="text-uppercase">Moneto Web</p></a>
              <div class="linha-s"></div>
            </div>
          </div>

          <div class="col-md-4 text-center card center-block">
            <div class="img-site center-block" style="background: url('images/veronicabarreto.png'); background-size: cover; background-position: center;"></div><!-- imagem do site -->
            <div class="text-center">
              <a href="#"><p class="text-uppercase">Veronica Barreto</p></a>
              <div class="linha-s"></div>
            </div>
          </div>
        </div>
      </div><!-- fim do slide -->

      <div class="item">
        <div class="container"><!-- dentro deste container tem todo o conteudo sobre o integrante -->
          <div class="col-md-4 text-center card center-block">
            <div class="img-site center-block" style="background: url('../images/bananinha.png'); background-size: cover; background-position: center;"></div><!-- imagem do site -->
            <div class="text-center">
              <a href="#"><p class="text-uppercase">Bananinha Paraibuna</p></a>
              <div class="linha-s"></div>
            </div>
          </div>

          <div class="col-md-4 text-center card center-block">
            <div class="img-site center-block" style="background: url('../images/moneto.png'); background-size: cover; background-position: center;"></div><!-- imagem do site -->
            <div class="text-center">
              <a href="#"><p class="text-uppercase">Moneto Web</p></a>
              <div class="linha-s"></div>
            </div>
          </div>

          <div class="col-md-4 text-center card center-block">
            <div class="img-site center-block" style="background: url('../images/veronicabarreto.png'); background-size: cover; background-position: center;"></div><!-- imagem do site -->
            <div class="text-center">
              <a href="#"><p class="text-uppercase">Veronica Barreto</p></a>
              <div class="linha-s"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div id="portifolio-mob" class="carousel slide mobile" data-ride="carousel"><!-- aqui se inicia o slider -->

    <ol class="carousel-indicators"><!-- indicadores de posição -->
      <li data-target="#portifolio-mob" data-slide-to="0" class="active"></li>
      <li data-target="#portifolio-mob" data-slide-to="1" class=""></li>
      <li data-target="#portifolio-mob" data-slide-to="2" class=""></li>
    </ol>

    <div class="carousel-inner"><!-- esta <div> contém todos os slides -->

      <div class="item active"><!-- este é um slide. PS. o primeiro slide sempre TEM que conter a classe "active"-->
        <div class="container"><!-- dentro deste container tem todo o conteudo sobre o integrante -->
          <div class="col-md-4 text-center card center-block">
            <div class="img-site center-block" style="background: url('images/bananinha.png'); background-size: cover; background-position: center;"></div><!-- imagem do site -->
            <div class="text-center">
              <a href="#"><p class="text-uppercase">Bananinha Paraibuna</p></a>
              <div class="linha-s"></div>
            </div>
          </div>
        </div>
      </div><!-- fim do slide -->

      <div class="item">
        <div class="container">
          <div class="col-md-4 text-center card center-block">
            <div class="img-site center-block" style="background: url('images/moneto.png'); background-size: cover; background-position: center;"></div><!-- imagem do site -->
            <div class="text-center">
              <a href="#"><p class="text-uppercase">Moneto Web</p></a>
              <div class="linha-s"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="container">
          <div class="col-md-4 text-center card center-block">
            <div class="img-site center-block" style="background: url('images/veronicabarreto.png'); background-size: cover; background-position: center;"></div><!-- imagem do site -->
            <div class="text-center">
              <a href="#"><p class="text-uppercase">Veronica Barreto</p></a>
              <div class="linha-s"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div><!-- fim do slider -->

</section>
