<section><!-- area "equipe" -->
  <div class="titulo">
    <h2 class="text-uppercase text-center">Equipe</h2>
    <div class="linha"></div>
  </div>

  <div id="slider" class="carousel slide" data-ride="carousel"><!-- aqui se inicia o slider -->

    <ol class="carousel-indicators"><!-- indicadores de posição -->
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1" class=""></li>
      <li data-target="#slider" data-slide-to="2" class=""></li>
    </ol>

    <div class="carousel-inner"><!-- esta <div> contém todos os slides -->

      <div class="item active"><!-- este é um slide. PS. o primeiro slide sempre TEM que conter a classe "active"-->
        <div class="container"><!-- dentro deste container tem todo o conteudo sobre o integrante -->
          <p class="text-center nome text-uppercase">João Pedro Vaz</p><!-- nome -->
          <div class="img-perfil col-md-12"><!-- essas div`s servem para o alinhamento da imagem -->
            <div class="col-md-4 col-sm-2"></div>
            <div class="col-md-4 col-sm-8">
              <div class="col-md-2 col-sm-2"></div>
              <div class="col-md-8">
                <img src="images/jp.png" class="img-responsive" alt=""><!-- aqui se encontra a imagem do integrante -->
              </div>
              <div class="col-md-2 col-sm-2"></div>
            </div>
            <div class="col-md-4 col-sm-2"></div>
          </div>
          <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <p class="text-justify">COMPLETAR Front-End e comanda todos os projetos da empresa COMPLETAR</p><!-- aqui está o texto de descrição sobre o integrante -->
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div><!-- fim do slide -->

      <div class="item">
        <div class="item">
          <div class="container">
            <p class="text-center nome text-uppercase">Bryann Barbosa</p>
            <div class="img-perfil col-md-12">
              <div class="col-md-4 col-sm-2"></div>
              <div class="col-md-4 col-sm-8">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-8">
                  <img src="images/bryan.png" class="img-responsive" alt="">
                </div>
              </div>
              <div class="col-md-4 col-sm-2"></div>
            </div>
            <div class="col-md-12">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <p class="text-justify">COMPLETAR Back-End e CEO da empresa COMPLETAR</p>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item">
          <div class="container">
            <p class="text-center nome text-uppercase">Vinicius Ferreira</p>
            <div class="img-perfil col-md-12">
              <div class="col-md-4 col-sm-2"></div>
              <div class="col-md-4 col-sm-8">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <img src="images/vini.png" class="img-responsive" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <p class="text-justify">Administrador nato e de formação, trabalha com as finanças e o SEO da empresa. Apaixonado por novos descobrimentos e jogos eletrônicos. </p>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- fim do slider -->
</section>
